:host{
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.containerFood{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    width: 18rem;
    height: 15rem;
    position: relative;
    border-radius: 20px;
    text-align: left;
    box-shadow: #4D4D4D 0.5px 1.5px 1px ;
    background-size: contain;
}
#imgItem{   
    position: absolute;
    width: 12rem;
    height: 12rem;
    object-fit:fill;
    bottom: 8rem;
}
.junto{
    position: absolute;
    margin-top: 4rem;
    text-align: left;
    left: 2rem;
    height: auto;
}
#foodName{
    font-size: 20px;
}
#compliment{
    font-size: 18px;
    color: #4D4D4D;
}
#price{
    position: absolute;
    margin-top: 1rem;
}

