:host{
    font-family: "Rubik", sans-serif;

}
.containerFood{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 18rem;
    height: 15rem;
    position: relative;
    border-radius: 20px;
    text-align: left;
    box-shadow: #4D4D4D 0.5px 1.5px 1px ;
}
#imgItem{   
    position: absolute;
    bottom: 8rem;
}
.junto{
    position: relative;
    margin-top: 4rem;
    text-align: left;
    left: -4rem;
}
#foodName{
    font-size: 20px;
}
#compliment{
    font-size: 18px;
    margin-top: 1rem;
    color: #4D4D4D;
}
#price{
    left: -5.5rem;
    position: relative;

}

