<app-mkt-header/>
<section class="amostracao">
    <div class="textos">
        <h2 class="title">Peça a melhor comida em qualquer lugar.</h2>
        <p class="text">Descubra um universo de delícias em nosso restaurante, onde ingredientes frescos e de alta qualidade vão te conquistar do primeiro ao último prato.</p>
        <input type="button" value="Ver Comidas" id="showFood" onclick="scroll()">
    </div>
    <div class="img">
        <img src="/foodsImg/frangofrito.png">
            <!-- <img src="" alt="" id="arrowRight"> -->

        </div>
</section>  

<section class="recipeShowcase">
    <ul id="recipes">
        @for(food of foods; track food.id){
            <li id="recipe">
                <food [foodItem]="food"/>
            </li>
        }
        
    </ul>
</section>