<header>
    <img id="Logo" src="MarciaLogoHomeLoginPage.png" alt="LogoMarcia" routerLink="/market">

    <ul class="topics">
        <li class="topicTxt"><a routerLink="" routerLinkActive="selected">Inicio</a></li>
        <li class="topicTxt"><a routerLink="" routerLinkActive="selected"> Contato</a></li>
        <li class="topicTxt"><a href="">Sobre Nós</a></li>
    </ul>

    <div class="itemsMenu">
        <a routerLink="/cart">
        <img src="cestaVazia.svg" alt="cesta" id="cesta" >
    </a>
    </div>
