<main>
    <section>
        <aside class="foodImg">
            <!-- <img [src]="food.img" [alt]="food.name"> -->
        </aside>
        <aside class="foodInfo">
            <h2 id="name"></h2>
            <p id="price"></p>
            <p id="detail">Frete Gratis</p>
            <select name="select">
                <option value="valor1">Valor 1</option>
                <option value="valor2" selected>Valor 2</option>
                <option value="valor3">Valor 3</option>
            </select>
            <div class="container">
                <p>Quantidade</p>
                <select></select>
                <input type="button" value="Adicionar">
            </div>
        </aside>
    </section>
    <section class="moreinfo">
        <p>Esse prato serve stringinterpolation e contem</p>
        <ul>
            <li>sla</li>
            <li>sla</li>
            <li>sla</li>
            <li>sla</li>
            <li>sla</li>
        </ul>
    </section>
</main>