<img src="topHome.svg" alt="" id="topHome">
<img src="bottomHome.svg" alt="" id="bottomHome">
<app-header />
<section>
    <div class="login">
        <div class="inputWrapper">
            <h2 id="title">Ingredientes frescos e de alta qualidade!</h2> 
            <div class="input">
                <input type="text" id="pesquisa" placeholder="Digite seu E-mail">
                <input type="button" value="Enter" id="enter" [routerLink]="'/market'">
            </div> 
        </div>
    </div>
    <div class="info">
        <img src="/foodsImg/pizza.png" alt="" id="pizza">
        <p class="local">R. Severino Barbiere, 114 - Independência Toledo - PR, 85906-570 </p>
    </div>
    
</section>

