
:host{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
    font-family: "Rubik", sans-serif;
}
#topHome{
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
}
#bottomHome{
    position:absolute;
    bottom: 0;
    z-index: -1;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.login{
    margin-left:3rem;
    position: relative;
    width: 50%;
    height: 100%;
}
.info{
    position: relative;
    width: 50%;
    height: 100%;
}
#pizza{
    height: 25rem;
    width: 25rem;
    padding-left: 3rem;
}
h2{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 20px;
}
p{
    font-weight: 400;
    font-size: 25px;
    line-height: 2rem;
    margin-top: 0;
    text-align: center;
    width: 80%;
    color: black;
}
.inputWrapper{
    position: relative;
    height: 100%;
    width: 70%;
    padding: 5rem 5rem;
}
#pesquisa{
    position: relative;
    width: 100%;
    height: 30px;
}
.input{
    position: relative;
    height: 30px;
}
#enter{
    cursor: pointer;
    height: 36.5px;
    width: 5rem;
    border: 0px;
    background-color: black;
    position: absolute;
    border-radius: 20px 5px 5px 0px;
    margin-right: -10px;
    color: whitesmoke;
    font-size: 12px;
    top: 0;
    right: 0;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    display: flex;
}
.login-form {
    width: 30rem;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .btn-login {
    width: 100%;
    height: 40px;
    background-color: #0b78b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .btn-login:hover {
    background-color: #064669;
  }