<app-header></app-header>
<div class="contact-wrapper">
    <div class="contact">
        <h2 id="Title">Contato</h2>
        <p id="message">Nos deixe um comentario, sugestão ou elogio!</p>
        <ul class="contatosContainer">
            <li class="contatos">Instagram: &#64;marmitariadamarcia</li>
            <li class="contatos">Email: marmitas da marcia&#64;gmail.com</li>
            <li class="contatos">WhatsApp: +55 45 999862813</li>
        </ul>
    </div>
    <img id="plane"src="paper-plane2.svg" alt="aviao">
    </div>